header {
    width: 100%;
    margin: 0px;
    padding: 15px 0px;
    background-color: rgb(236 , 111, 117);
}

header p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}