.cardBorder {
    padding-top: 25px;
}

.photo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nick {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 15px;
}

.data2 {
    width: 280px;
    border: solid 1px lightgray;
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    padding-top: 10px;
}

.userData {
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
}